.sponsorship-container {
  background-color: inherit;
  padding: 20px;
  /* border: 1px solid #0ecced; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.sponsorship-title {
  font-size: 1.5rem;
  color:white;
  text-shadow: 2px 1px 5px #0ecced;
  margin-bottom: 20px;
  font-family:cursive;
}

.sponsor-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsor-item {
  margin: 20px;
  font-size: 1.2rem;
  color: whitesmoke;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transform: scale(0.9); 
  /* animation: bounce 1.5s linear infinite; */
}

.sponsor-logo {
  width: 150px;
  height: auto;
  margin-right: 15px;
}

.sponsor-name {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  transform: scale(0.9);
  
}
.sponsor-name:hover{
  color: #F58840;
  transform: scale(1.05);
  transition: 0.2s;
  text-shadow: white;
}

.sponsor-logo:hover{
  box-shadow: 0px px 15px rgb(7, 248, 248);;
  transform: scaleX(1.15) scaleY(1.15);
  transition: 0.3s;
}

/* @keyframes bounce {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
} */


